<h1>Linked In Account</h1>

<form class="" action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_email">Email:</label>
  <input type="text" name="user[email]" value="">

  <label for="user_password">Password:</label>
  <input type="password" name="user[password]" value=""><br>

  <label for="scrape_true">
    <input type="radio" id="scrape_true" name="scrape" value="true" checked="checked">
    Scrape Data
  </label>

  <label for="scrape_false">
    <input type="radio" id="scrape_false" name="scrape" value="false">
    View Connections
  </label><br>

  <input type="submit" value="Submit">
</form>
